$main-back: #0A1013;
$main-font-col: #FFF;
$third-header-size: 27px;
$second-header-size: 34px;
$main-nav-col: #00ABAB;
$bright-blue: #448E9D;
$link-hov-color: #C0C0C0;
$caption-size: 35px;
$header-back: #E5E4DF;
$main-pic: $header-back url('/img/back.jpg') 0 bottom no-repeat;
$footer-font-col: #535353;
$footer-caption-col: #44423C;
$arial: Arial, Helvetica, sans-serif;
$oswald: 'Oswald', $arial;
$button-col: rgb(138,161,163);


//BREAKPOINTS
$large: "only screen and (max-width : 1370px)";
$medium: "only screen and (max-width : 768px)";
$small: "only screen and (max-width : 430px)";


@keyframes hovering {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(3px);
    }
    40% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}


html, body, #root {
    padding: 0;
    margin: 0;
    border: none;
    font-family: $oswald;
    color: $main-font-col;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: $caption-size;
    margin-bottom: 20px;


    @media #{$small} {
        font-size: $second-header-size;
    }
}

h2 {
    font-size: $second-header-size;
}

h3 {
    font-size: $third-header-size;
}

a {
    text-decoration: none;
    transition: all .2s ease;
    color: #00CBCB;
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        background: transparent;
        position: absolute;
        height: 3px;
        bottom: -3px;
        left: 0;
        right: 0;
        transition: all .3s ease;
    }

    &:hover {
        color: $link-hov-color;
    }
}

#root {
    background: $main-back;
}

.home {
    &_header {
        height: 100vh;
        background: $main-pic;
        background-size: cover;

        @media #{$small} {
            background-position: 0 0;
        }
    }

    &_caption {
        font-size: $caption-size;
        color:#00CBCB;
        margin-top: 50px;
        transition: all .3s ease;
        cursor: pointer;

        @media #{$small} {
            font-size: $second-header-size;
        }

        &:hover {
            color: $link-hov-color;
        }
    }

    &_scroll-down {
        width: 25px;
        height: 70px;
        background: url('/img/scroll.png') no-repeat;
        margin-top: 65px;
        animation: hovering 1s ease-in-out infinite;
    }
}

.logo {
    width: 279px;
    height: 102px;
    background: url('/img/logo.png') no-repeat;
    background-size: cover;    
}

.wrapper {
    margin: 0 auto;
    max-width: 1364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    flex-wrap: wrap;

    @media #{$large} {
        padding: 60px 20px;
    }

    &--header, &--footer {
        flex-direction: row;
        align-items: flex-start;
        padding: 0;

        @media #{$large} {
            padding: 0 20px;
        }
    }   

    &--footer {
        @media #{$large} {
            justify-content: center;
        }

        @media #{$medium} {
            flex-direction: column;
            align-items: center;
        }
    }

}

.main-nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    flex-grow: 1;
    font-size: $third-header-size;

    @media #{$medium} {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &--header {
        font-size: 21px;
        margin-top: 26px;
        justify-content: flex-start;

        @media #{$medium} {
            display: none;
        }

        >a {
            margin-right: 85px;            
        }
    }

    &--sidebar {
        width:100%;
    }

    &__item {
        text-transform: uppercase;
        display: inline-block;
        color: #00ABAB;  
        
        @media #{$medium} {
            margin: 0 0 20px 0;
        }
        
        &.active{
            color: #C0C0C0;

            &::after {
                background: #C0C0C0;
            }
        }
    }
}


.footer {
    width: 100%;
    min-height: 256px;
    background: #003B3B;
    padding: 45px 0 40px;
    box-sizing: border-box;
    background-position: top;

    @media #{$medium} {
        background: $header-back;
    }

    &__logos {
        width: 40%;
        display: flex;
        flex-direction: column;
        min-width: 340px;

        @media #{$large} {
            margin-bottom: 40px;
            align-items: center;
            order: 2
        }
    }

    &__copy {
        font-size: 15px;
        font-family: $arial;
        color: #C0C0C0;
    }

    &__subscribe {
        width: 35%;
        min-width: 340px;                

        @media #{$large} {
            margin-bottom: 40px;
            order: 1
        }        
    }

    &__social {
        width: 25%;
        min-width: 230px;

        @media #{$large} {
            order: 3
        }
    }

    .logo{
        margin-top: 0; 
     }

     h3 {
        color:#C0C0C0;
        margin-bottom: 18px;
        line-height: 24px;
    }
}

.social-icon {
    width: 33px;
    height: 33px;
    margin-right: 20px;
}

.socials {
    display: flex;    

    &__facebook {
        @extend .social-icon;
        background: url('/img/facebook.svg') center no-repeat;
    }
    &__instagram {
        @extend .social-icon;
        background: url('/img/instagram.svg') center no-repeat;
    }
    &__twitter {
        @extend .social-icon;
        background: url('/img/twitter.svg') center no-repeat;
    }
    &__youtube {
        @extend .social-icon;
        width: 47px;
        background: url('/img/youtube.svg') center no-repeat;
    }

    &--album {
        >div {
            filter: brightness(20);
        }
    }
}

.landing {
    width: 100%;
    height: 375px;
    background:url("/img/landing.jpg");
    padding: 45px 0 40px;
    padding-left: 200px;
    box-sizing: border-box;
    background-position: top;
    background-size: cover;
    display: flex;

    @media #{$medium} {
        background: $header-back;
    }
      
    &_column {
        color: #C0C0C0;
        flex: 33.33%;
        padding: 5px;
    }

    &_column_text {
        color: #C0C0C0;
        flex: 33.33%;
        padding: 5px;
        padding-top: 100px;
    }

    
} 


.product {
    width: 100%;
    height: 100vh;
    background: url('/img/product_bg.jpeg') no-repeat;
    background-size: cover;

     @media #{$small} {
        background-position: 0 0;
    }

    &_caption {
        font-size: $caption-size;
        color:#000000;
        margin-top: 50px;
        transition: all .3s ease;
        cursor: pointer;
        margin-bottom: 100px;

        @media #{$small} {
            font-size: $second-header-size;
        }

        &:hover {
            color: $link-hov-color;
        }
    }


    &_row {
        display: flex;
        align-items: center;
        

        @media #{$small} {
            font-size: $second-header-size;
        }
        
    }
    
    &_column {
        flex:50%;
        
        margin-left: auto;
        margin-right: auto;

        @media #{$small} {
            font-size: $second-header-size;
        }
    }
    
    &_centerBlock {
        display: table;
        margin-left: auto;
        margin-right: auto;

        @media #{$small} {
            font-size: $second-header-size;
        }
    }
    
}

.prim-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border: none;
    color: #fff;
    font-family: $oswald;
    text-transform: uppercase;
    font-size: 21px;
    width: 195px;
    height: 45px;    
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background: lighten($color: $button-col, $amount: 4)
    }
}

.prod-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00ABAB;
    border: none;
    color: #000000;
    font-family: $oswald;
    font-size: 21px;
    width: 450px;
    height: 45px;    
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background: lighten($color: #C0C0C0, $amount: 4)
    }

    &_margin {
        margin-top: 20px;
    }
}

.header {
    background: #000000;
    height: 83px;    
    position: relative;
    z-index: 5;

    .logo {
        margin-top: 15px;
        width: 138px;
        background-size: 100%;
        margin-right: 85px;
    }

    &__logo-link {

        @media #{$medium} {
            flex-grow: 1;
        }
        &::after {
            display: none;
        }
    }

    &__menu {
        width: 23px;
        height: 23px;
        background: url('/img/menu.svg') no-repeat;
        background-size: cover;
        margin-top: 30px;
        cursor: pointer;
        display: none;

        @media #{$medium} {
            display: block;
        }
    }
}

.sidebar {
    position: fixed;
    top: 83px;
    bottom: 0;
    right: 0;
    width: 80%;
    background: #000000;
    z-index: 5;    
}


.subscribe {
    display: flex;
    flex-direction: column;

    @media #{$medium} {
        align-items: center;
    }

    input[type=text], select {
        width: 400px;
        margin-bottom: 15px;

        @media #{$large} {
            width: 100%;
        }
    }

    input[type=checkbox] {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        margin-left: 0;

        &::after {
            content: '';
            display: block;
            width: 22px;
            height: 22px;
            background: #fff;
            border: 1px solid #707070;
        }        
    }

    &__agreement {
        display: flex;
        font-size: 12px;
        color:#C0C0C0;
        font-family: $arial;
        width: 400px;
        line-height: 17px;
        margin-bottom: 30px;

        @media #{$large} {
            width: 100%;
        }
    }
}

.product1 {
    width: 100%;
    height: 100vh;
    background: url('/img/product_bg.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;

    &_margin {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        color: #000000;
    }

    input[type="text"] {
        width: 400px;
        height: 30px;
    }
}

.text {
    color: darkblue;
    font-size: 20px;
    font-family: $oswald;
    display: table;

    &_freecolor {
        color: blue;
    }

    &_buycolor {
        color: red;
    }

}

.product2 {
    width: 100%;
    height: 100vh;
    background: url('/img/product_bg.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;

    &_margin {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        color: #000000;
    }

    input[type="text"] {
        width: 400px;
        height: 30px;
    }
}

.success {
    width: 100%;
    height: 100vh;
    background: url('/img/product_bg.jpeg');
    background-size: cover;
    display: flex;

     @media #{$small} {
        background-position: 0 0;
    }

    &_textcol {
        color: white;
    }
}


